body{
  margin-top: 75px;
  background-color: #a6a6a6;
}
p{
  color: black;
}
p
h1,
h2,
h3 {
  font-family: "Arial", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
.navbar-custom {
  background: black;
  font-family: "Arial", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color:  #b3b3b3;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #b3b3b3;
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 60px;
  background-color: #a6a6a6;
  color: black;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  margin-top: 112px;
  padding: 25px 0;
  background-color: #0d0d0d;
}
.jumbotron{
  margin-bottom: 137px;
}
